.carousel {
    position: relative;
    .root {
        overflow: hidden;

        .container {
            display: flex;
            margin-left: calc(var(--slide-spacing) * -1);
        }

        .slide {
            flex: 0 0 var(--slide-size, 100%);
            min-width: 0;
            padding-left: var(--slide-spacing);
        }
    }
}
