.carousel {
    position: relative;

    .root {
        overflow: hidden;
        .container {
            display: flex;
            margin-left: calc(var(--slide-spacing) * -1);
        }

        .slide {
            flex: 0 0 var(--slide-size, 100%);
            min-width: 0;
            padding-left: var(--slide-spacing);
        }
    }

    .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        outline: none;
        border: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &.next {
            right: -20px;
        }

        &.prev {
            left: -20px;
        }
    }
}
