@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@config "../tailwind.config.js";

@utility container {
    margin-inline: auto;
    padding-inline: calc(var(--spacing) * 4);
}

@theme {
    --font-sans: "Roboto", "serif";
    --font-display: "Roboto";
    --color-primary: #2b7fff;
    --color-primary-foreground: #fff;
    --color-secondary: #f97316;
    --color-secondary-foreground: #fff;
    --color-accent: #22c55e;
    --color-accent-foreground: #fff;
    --slide-up-and-fade: slideUpAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);

    @keyframes slideUpAndFade {
        from {
            opacity: 0;
            transform: translateY(2px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideRightAndFade {
        from {
            opacity: 0;
            transform: translateX(-2px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slideDownAndFade {
        from {
            opacity: 0;
            transform: translateY(-2px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideLeftAndFade {
        from {
            opacity: 0;
            transform: translateX(2px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@keyframes shimmer {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
}
